*{
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 980px;
    background: f4f1ec;
    /*margin: auto;*/
    padding: 20px;
    /*background: antiquewhite;*/
}

a {
    color: #29a3f9;
    margin-right: 20px;
    }
h1 {
    font-size: 3.8em;}

h2 {
    font-size: 2.6em;
}



.clearfix:before, .clearfix:after {
    content: ' ';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.logo {
    width: 80px;
    height: 40px;
    background: coral;
    float: left;
    border: 1px;
    /*border-radius: 40%;*/

}

.phone {
    width: 140px;
    height: 40px;
    float: left;
    font-size: 1em;
    font-family: 'Arial';
    text-align: center;
}


.menu {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.menu a {
    /*text-decoration: none;*/
    /*font-family: sans-serif;*/
    display: inline-block;
}

.menu li {
    display: inline;
}

.search {
    float: right;
    margin-right: 0;
    position: absolute;
    top: 100px;
    right: 280px;
}

.zagolovok{
    float: left;
}

form {
    width: 240px;
    height: 25px;
    position: relative;
}

input, button {
    border: none;
    outline: none;
}

input {
    width: 100%;
    height: 25px;
}

button {
    height: 15px;
    width: 15px;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
}

button:before {
    content: "\f105";
    font-family: FontAwesome;
    color: #F9F0DA;
    /*font-siz: 20px;*/
    font-weight: bold;
}

.navigation2{
    width: 100%;
    text-align: justify;
    font-size: 20.55px;
    font-weight: bold;
}

.content3 {
    width: 960px;
    margin: 20px;
}

.mainblock {
    width: calc(100% - 260px);
    margin-right: 20px;
    float: left;

}

.sideblock {
    width: 230px;
    height: 450px;
    /*background: #29a3f9;*/
    float: right;
}

.img {
    /*width: 700px;*/
    /*height: 290px;*/
    /*border: 1px solid #000000;*/

}


article {
    margin-top: 10px;
}

.author {
    color: #baa788;
}

.date-razdel {
    color: #baa788;
    font-family: ;
    font-size: 15px;
}

.title {
    font-weight: bold
}